{% extends 'base.html.twig' %}

{% block title %}Hello PropertiesController!{% endblock %}

{% block body %}

<div class="jumbotron text-center">

    <h1>NurburShop</h1>

    <p>Here you can find all your dream.</p>


{% endblock %}