{% extends 'base.html.twig' %}

{% block title %}{% endblock %}




{% block body %}

    <div class="container mt-4">

        <h1>Create</h1>

        {{ include('pages/admin/form.html.twig', {form: form, button: 'Create'}) }}

    </div>

{% endblock %}

